@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .paginate {
    &__button {
      @apply flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-100;

      &--disabled {
        @apply bg-gray-500 text-gray-300 hover:text-gray-300 hover:bg-gray-500;
      }

      &--selected {
        @apply text-blue-600 bg-blue-50 hover:text-blue-700 hover:bg-blue-100;
      }
    }
  }
  .form-input {
    @apply bg-gray-50 border-gray-300 text-gray-900;
    &--error {
      @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500;
    }
  }
}

.resizer {
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
  user-select: none;
  width: 5px;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}
